.searchresults-principal {
    background-color: var(--color-bloque);
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
}

.searchresults-titulo {
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchresults-boton-x {
    background-color: transparent;
    min-width: 0;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
}