.track-seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.track-contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 2rem);
}

.track-cover-art {
    width: 2.5rem;
    height: 2.5rem;
}

.track-contenido-texto {
    flex-grow: 1;
}

.track-texto-nombre {
    font-weight: bold;
}

.track-texto-artista {
    font-size: 0.75rem;
}

.track-texto-album {
    font-size: 0.75rem;
}

.track-boton {
    background-color: transparent;
    min-width: 0;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 1rem;
}

.track-separador {
    margin-top: 0;
    margin-bottom: 0;
}

.track-dialog {
    pointer-events: none;
    padding: 0;
    border: 0;
    width: 300px;
    position: fixed;
    top: calc(50vh - 150px);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 15px 25px, rgba(255, 255, 255, 0.25) 0px 5px 10px;
}

.track-cover-art-grande {
    width: 18.75rem;
    height: 18.75rem;
}

.track-dialog-text {
    padding: 0.5rem;
    p {
        color: black;
    }
}