.textoNombre {
    font-weight: bold;
}

.textoaArtista {
    font-size: 0.75rem;
}

.taxtoAlbum {
    font-size: 0.75rem;
}

.contenidoTrack {
    flex-grow: 1;
    max-width: calc(100% - 2rem);
}

.seccionTrack {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.botonAgregarTrack {
    background-color: transparent;
    min-width: 0;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 1rem;
}

.separadorTrack {
    margin-top: 0;
    margin-bottom: 0;
}