.textoNombre {
    font-weight: bold;
}

.textoaArtista {
    font-size: 0.75rem;
}

.taxtoAlbum {
    font-size: 0.75rem;
}

.seccionTrack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.botonAgregarTrack {
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 1rem;
    font-size: 1rem;
}

.separadorTrack {
    margin-top: 0;
    margin-bottom: 0;
}