.searchbar-principal {
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.searchbar-input {
    display: flex;
    justify-content: center;
    width: 90%;
}

.searchbar-input-text {
    max-width: 20rem;
    min-width: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

.searchbar-input-boton {  
    z-index: 100;
    background-color: var(--color-input);
    height: 2rem;
    width: 2rem;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 0;
    font-size: 1rem;
}

.searchbar-input-boton-lupa {
    translate: 2rem;
}

.searchbar-input-boton-lupa:disabled {
    background-color: white;
    pointer-events: none;
}

.searchbar-input-boton-x {
    translate: -2rem;
}

.searchbar-input-boton-x:disabled {
    background-color: white;
    z-index: -100;
}

.searchbar-toggle {
    background-color: var(--color-boton-deshabilitado);
    min-width: 2rem;
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.searchbar-toggle-todo {
    width: 4rem;
}

.searchbar-toggle-seleccionado {
    background-color: var(--color-boton);
}