.searchBar {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.searchInput {
    display: flex;
    justify-content: center;
    width: 90%;
}

input {
    flex-grow: 1;
    max-width: 20rem;
    min-width: 5rem;
}

.botonTextoBusqueda {
    background-color: var(--color-input);
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0;
    font-size: 1rem;
}