.playlistPrincipal {
    background-color: var(--color-bloque);
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
}

.playlistNameInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputPlaylist {
    flex-grow: 1;
    background-color: transparent;
    color: var(--color-texto);
    font-size: 2rem;
    height: 3rem;
}

.botonTextoPlaylist {
    background-color:transparent;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
}