.playlist-principal {
    background-color: var(--color-bloque);
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 800px;
}

.playlist-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-nombre-texto {
    background-color: transparent;
    color: var(--color-texto);
    font-size: 2rem;
    height: 3rem;
    min-width: 4rem;
}

.playlist-boton-x-nombre {
    display: block;
    background-color:transparent;
    min-width: 0;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.playlist-boton-x-nombre-oculto {
    visibility: hidden;
}

.playlist-area-inferior {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 400px) {
    .playlist-botones-inferiores {
        height: 2rem;
        min-width: 7rem;
        font-size: 0.75rem;
    }
}

