.playlist-principal {
    background-color: var(--color-bloque);
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
}

.playlist-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-nombre-texto {
    background-color: transparent;
    color: var(--color-texto);
    font-size: 2rem;
    height: 3rem;
}

.playlist-boton-x-nombre-activo {
    display: block;
    background-color:transparent;
    min-width: 0;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.playlist-boton-x-nombre-inactivo {
    display: none;
}

.playlist-botones-inferiores {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}