header {
	z-index: 1000;
	width: 100%;
	box-sizing: border-box;
	min-height: 4rem;
	background-color: var(--color-encabezado);
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	/* Para que el notch/dinamic island del iphone quede como header */
	padding-top: env(safe-area-inset-top);
}

.app-resultados-y-playlist {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	justify-content: center;
}

@media (max-width: 1025px) {
	.app-resultados-y-playlist {
		flex-wrap: wrap;
	}
}

@media (max-width: 1025px) {
	header {
		justify-content: flex-start;
		padding-left: 1rem;
	}
}
