header {
  width: 100%;
  height: 4rem;
  background-color: var(--color-encabezado);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}