header {
	z-index: 1000;
    background-color: var(--color-encabezado);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-shrink: 0;
    height: 4rem;
}

.app-resultados-y-playlist {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	justify-content: center;
}

@media (max-width: 800px) {
	.app-resultados-y-playlist {
		flex-direction: column;
		align-items: stretch;

	}
}

@media (max-width: 450px) {
	header {
		justify-content: flex-start;
		padding-left: 1rem;
	}
}
