.app-resultados-y-playlist {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	justify-content: center;
}

@media (max-width: 1025px) {
	.app-resultados-y-playlist {
		flex-direction: column;
		align-items: stretch;

	}
}

@media (max-width: 1025px) {
	header {
		justify-content: flex-start;
		padding-left: 1rem;
	}
}
