header {
	z-index: 1000;
	width: 100vw;
	height: 4rem;
	background-color: var(--color-encabezado);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.app-contenido {
	margin-top: 4rem;
}

.app-resultados-y-playlist {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	justify-content: center;
}

@media (max-width: 1025px) {
	.app-resultados-y-playlist {
		flex-wrap: wrap;
	}
}

@media (max-width: 1025px) {
	header {
		justify-content: flex-start;
		padding-left: 1rem;
	}
}
