body {
  margin: 0;
}

:root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  --color-encabezado: #251658;
  --color-bloque: #251658;
  --color-texto: #E8E6F3;
  --color-boton: #6464C9;
  --color-input: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #7E39B7;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-texto);
}

p {
  font-size: 1rem;
  color: var(--color-texto);
}

input {
  height: 2rem;
  background-color: var(--color-input);
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
}

button {
  border: none;
  font: inherit;
  cursor: pointer;
  color: var(--color-texto);
  background-color: var(--color-boton);
  height: 2rem;
  width: 8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
}

button:hover {
  font-weight: bold;
}

button:active {
  box-shadow: inset 0px 0px 5px var(--color-texto);
}

.tarjeta {
  padding: 1rem;
}