:root {
    --color-encabezado: #251658;
    --color-bloque: #251658;
    --color-texto: #E8E6F3;
    --color-texto-deshabilitado: #6c6b72;
    --color-boton: #6464c9;
    --color-boton-deshabilitado: #9c9cc2;
    --color-input: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #7E39B7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100dvh;
    background-color: var(--color-encabezado);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-texto);
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-texto);
}

p {
    font-size: 1rem;
    color: var(--color-texto);
}

input {
    flex-grow: 1;
    height: 2rem;
    background-color: var(--color-input);
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
}

button {
    border: none;
    font: inherit;
    cursor: pointer;
    color: var(--color-texto);
    background-color: var(--color-boton);
    height: 2rem;
    min-width: 10rem;
    border-radius: 0.7rem;
    font-size: 1rem;
}

button:disabled {
    cursor: auto;
    color: var(--color-texto-deshabilitado);
    background-color: var(--color-boton-deshabilitado);
}

button:hover {
    font-weight: bold;
}

button:disabled:hover {
    font-weight: normal;
}

button:active {
    box-shadow: inset 0px 0px 5px var(--color-texto);
}

button:disabled:active {
    box-shadow: none;
}

header {
	z-index: 1000;
    background-color: var(--color-encabezado);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
    flex-shrink: 0;
    height: 4rem;
}

.contenido-principal {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #7E39B7;
}